[diff]
        tool = pycharm
[difftool "pycharm"]
        cmd = /usr/local/bin/pycharm diff "$LOCAL" "$REMOTE" && echo "Press enter to continue..." && read
[merge]
        tool = pycharm
[mergetool "pycharm"]
        cmd = /usr/local/bin/pycharm merge "$LOCAL" "$REMOTE" "$BASE" "$MERGED"
        keepBackup = false
[diff "ansible-vault"]
    cachetextconv = false
    textconv = viewvault.sh
[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = true
    pager = true

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    #old = red reverse
    #new = green reverse

[color "status"]
    added = yellow
    changed = green
    untracked = cyan

[core]
    pager = less -FRSX
    whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
    excludesfile = /Users/mattias.johansson/.gitignore_global

[alias]
    abbr = rev-parse --short
    all = cat-file --batch-check --batch-all-objects --unordered
    alias = config --get-regexp ^alias\\.
    new = log -u --since='1 week ago'
    co = checkout
    st = status
    ci = commit
    di = diff
    each = for-each-ref --format='%(refname:short)'
    wd = diff --word-diff=color --word-diff-regex '[a-z_]+|.'
    root = rev-parse --show-toplevel
    prev = checkout HEAD^1
    next = "!sh -c 'git log --reverse --pretty=%H origin/master | awk \"/$(git rev-parse HEAD)/{getline;print}\" | xargs git checkout'"
    hot = for-each-ref --count=20 --sort=-committerdate refs/remotes/ --format='%(refname:short)'

[push]
    default = upstream
[pull]
	rebase = false
 [user]
    name = Matte
    email = mattias.johansson@funnel.io
[commit]
	template = /Users/mattias.johansson/.gitmessage
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pretty]
	oneline-with-author = format:%h|%cI|%cn|%s
[safe]
	bareRepository = explicit
[git-mob]
	co-author = Viktor Tell <viktor@funnel.io>
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
